<html>
<head>
    <title>{{ website_info.name }}</title>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

    <script src="{{ url_for('static',filename='js/singleplayer/blackjack.js') }}"></script>
    <script src="{{ url_for('static',filename='js/general_events.js') }}"></script>
    

    <link rel="stylesheet" href="{{ url_for('static',filename='css/singleplayer/blackjack.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>

{% include "navigationbar.html" %}

<body data-website-domain="{{ website_info.url }}">
    <div id="player-hand"></div>
    <div id="cpu-hand"></div>

    <div id="controls">
        <button class="control-button play-button" id="hit-button">Hit</button>
        <button class="control-button play-button" id="stand-button">Stand</button>
        <button class="control-button play-button" id="doubledown-button">Double down</button>

        <button class="control-button" id="replay-button">Replay</button>

        <p id="current-bet"></p>
        <p id="balance-label"></p>

    </div>

    <h2 id="result-label"></h2>
</body>
</html>