<html>
<head>
    <title>{{ website_info.name }}</title>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

</head>
<body>
    <h1 id="website-label">Welcome to {{ website_info.name }}</h1>

    <div id="option-container">
        <button class="option-button" id="single-button">Play single</button>
        <button class="option-button" id="multi-button">Join table</button>
    </div>
</body>
</html>