<html>
<head>
    <title>{{ website_info.name }}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>    
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/multiplayer/blackjack.js') }}"></script>
    <script src="{{ url_for('static',filename='js/general_events.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

</head>
{% include "navigationbar.html" %}
<body data-website-domain="{{ website_info.url }}">
    <div id="#bet-controlls">
        <input type="text" id="bet-amount">
        <button id="bet-submit">Bet</button>
    </div>
</body>
</html>